.chatTitle{
    padding-top: 4px;
    /* font-size: medium; */
    /* padding: 0px !important; */
}

.groupBtn{
    background-color: rgb(68, 68, 252) !important;
    font-weight: 600 !important;
    color: white !important;
}

.cardList{
    padding-top:20px;
    cursor: pointer;
    padding-right: 10px;
}

.cardone:hover{
    background-color: beige;
}

.cardBody{
    padding:5px 10px !important;
}

.cardTitle{
    font-size: 15px;
    font-weight: 500 !important;
}

.cardsubTitle{
    font-size: small;
    font-weight: 600 !important;
}

.cardBg{
    background-color: #e2b93d !important;
}

.chatContainer{
    height: 90.2vh !important;
}

.chatListDiv{
    height:80vh !important;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(228, 228, 230) rgb(246, 244, 238);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(228, 228, 230)
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(246, 244, 238);
    border-radius: 20px;
    /* border: 3px solid orange; */
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(29, 14, 94, 0.284);
    margin-left: 3px;
    cursor: pointer;
}