.chatTitle{
    padding-top: 4px;
    /* font-size: medium; */
    /* padding: 0px !important; */
}

.groupBtn{
    background-color: rgb(68, 68, 252) !important;
    font-weight: 600 !important;
    color: white !important;
}

.cardList{
    padding-top:20px;
    cursor: pointer;
}

.cardone:hover{
    background-color: beige;
}

.cardBody{
    padding:5px 10px !important;
}

.cardTitle{
    font-size: 15px;
    font-weight: 500 !important;
}

.cardsubTitle{
    font-size: small;
    font-weight: 600 !important;
}

.cardBg{
    background-color: #e2b93d !important;
}

.chatContainer{
    height: 90vh !important;
}