.loginContainer {
    max-width: 400px;
    max-height: 850px;
    margin: 50px auto;
    /* margin-bottom: 50px; */
    /* padding: 30px; */
    /* border-radius: 5px; */
    background-color: #F0F0F0;
    border: 0.5px solid rgb(113, 138, 213) !important;
}

.container {
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(113, 138, 213) !important;
}

.bgColor {
    background-color: rgb(113, 138, 213) !important;
    color: white !important;
    border-radius: 0px !important;
    font-weight: 500 !important;
}