.loginContainer {
    max-width: 400px;
    max-height: 850px;
    margin: 50px auto;
    /* margin-bottom: 50px; */
    /* padding: 30px; */
    /* border-radius: 5px; */
    background-color: #F0F0F0;
}

.container {
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.26) !important;
}

.bgColor {
    background-color: rgb(245, 202, 10) !important;
    color: black !important;
    border-radius: 0px !important;
}